:root {
    --font: 'Outfit', sans-serif;

    --color-background: #FFF7ED;
    --color-dark-text: #161616;
    --color-light-text: #f4f4f8;
    --color-grey-text: #4D4D4D;
    --color-cta-btn: #FF8C38;
    --color-bg-footer: #252525;
    --color-text-footer: #AAAAAA;
    --color-about-bg-cta: #FFCC8D;
    --color-type-chip: #FFEAD0;
    --color-simple-tag: #E17654;
    --color-rugged-tag: #115E59;
    --color-luxury-tag: #161616;
}

.container {
    width: min(100% - 3em, 800px);
    margin-inline: auto;
}

h1,
h2,
p {
    margin: 0;
}

body {
    font-family: var(--font);

    height: 100vh;

    background-color: var(--color-background);
}

nav {
    background-color: var(--color-background);

    height: clamp(140px, 15vh, 300px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}

.nav-logo {
    width: 10rem;
    height: auto;
}

.nav-links-div {
    display: flex;
    gap: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: var(--color-grey-text);
    font-weight: 600;
}

.nav-link:hover {
    color: #161616;
    text-decoration: underline;
}

button:hover {
    transform: translate(1px, 1px);
}

footer {
    background-color: var(--color-bg-footer);
    color: var(--color-text-footer);

    height: clamp(100px, 10vh, 300px);

    display: flex;
    justify-content: center;
    align-items: center;
}